<mat-toolbar class="header" color="primary">
  <div class="container" routerLink="Home">
    <img alt="Angular Logo" src="https://cdn.discordapp.com/attachments/304829873468342283/567863692885229568/pic.png">
    <span class="logo">&nbsp;Talkit!</span>
  </div>
  <span class="big-space"></span>
  <p class="mat-h3" style="padding-top: 20px">{{strings.hi}}</p>
  <a mat-button routerLink="Configuration">{{user}}</a>
  <p class="mat-h3" style="padding-top: 20px">{{this.strings.got}}{{points}}{{this.strings.points}}</p>
  <span class="space"></span>
  <a mat-flat-button (click)="onCS()" color="accent">Cerrar sesión</a>
</mat-toolbar>
