<div class="background">
  <div class="container">
    <br><br>
    <div class="text-c">
      <img width="250" alt="Talkit" src="https://cdn.discordapp.com/attachments/304829873468342283/567816572467544089/Talkit_Azul_Todo.png">
    </div>
    <br>
    <div class="text-c">
      <h3>¿Puedo utilizar talkit desde mi dispositivo móvil?</h3>
      <p>Por el momento su funcionamiento óptimo es para navegadores en dispositivos de escritorio/laptops.</p>

      <h3>¿Está disponible en todos los lenguajes?</h3>
      <p>Por el momento las salas están diponibles en Español, Inglés, Francés, Alemán, Chino, Japonés, Coreano, Ruso, sin embargo, la traducción de la plataforma está disponible en Español e Inglés.</p>

      <h3>Si no tengo micrófono, ¿puedo unirme a salas?</h3>
      <p>Las salas de voz requieren mantener actividad de todos los usuarios que estén en ella, pero ¡no te preocupes, también hay salas escritas!</p>

      <h3>¿Cuándo estará la plataforma disponible en todos los lenguajes?</h3>
      <p>La idea es que la plataforma cree una comunidad que ayude a crecer la plataforma ayudando a traducirla de una manera más precisa en todos los lenguajes.</p>

      <h3>¿Puedo ayudar a otros usuarios a aprender mi lengua madre?</h3>
      <p>¡Claro! Todos pueden participar como moderadores en salas para ayudar a otros usuarios a mejorar.</p>
    </div>
  </div>
</div>
