.background{
  background-image: url(https://cdn.discordapp.com/attachments/304829873468342283/569228716933382157/Blue-Blur-Background.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  position: fixed;
}

mat-card{
  width: 500px;
  margin: 100px auto;
  height: auto;
  text-align: center;
}

h2{
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-weight: bold;
  font-size: 70%;
  text-align: center;
}

.full{
  width: 465px;
}
