<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <div class="centered">
    <h1>Tema Prueba</h1>
  </div>
  <div class="centered mb-20">
    <button>Votar para cambiar</button>
  </div>
  <!--	<div class="button-group">
      <span><button>Añadir amigo</button></span>
      <span><button>Votar para expulsar</button></span>
    </div>
    <div class="button-group">
      <span><button>Honorar</button></span>
    </div>-->

  <div class="centered">
    <div class="inline-block centered">
      <div class="report-icon"><mat-icon>error_outline</mat-icon></div>
      <div class="add-icon"><mat-icon>add</mat-icon></div>
      <img class="participant-image" src="https://images.unsplash.com/photo-1548197001-ca380947be91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
      <div><h4>Usuario 1</h4></div>
      <div class="mic-icon"><mat-icon>mic</mat-icon></div>
    </div>
    <div class="inline-block">
      <div class="report-icon"><mat-icon>error_outline</mat-icon></div>
      <div class="add-icon"><mat-icon>add</mat-icon></div>
      <img class="participant-image" src="https://images.unsplash.com/photo-1500043471691-62605d884af8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
      <div><h4>Usuario 2</h4></div>
    </div>
    <div class="inline-block">
      <div class="report-icon"><mat-icon>error_outline</mat-icon></div>
      <div class="add-icon"><mat-icon>add</mat-icon></div>
      <img class="participant-image" src="https://images.unsplash.com/photo-1542838686-37da4a9fd1b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
      <div><h4>Usuario 3</h4></div>
      <div class="mic-icon"><mat-icon>mic</mat-icon></div>
    </div>
    <div class="inline-block">
      <div class="report-icon"><mat-icon>error_outline</mat-icon></div>
      <div class="add-icon"><mat-icon>add</mat-icon></div>
      <img class="participant-image" src="https://images.unsplash.com/photo-1442458370899-ae20e367c5d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80">
      <div><h4>Usuario 4</h4></div>
    </div>
    <div class="inline-block">
      <div class="report-icon"><mat-icon>error_outline</mat-icon></div>
      <div class="add-icon"><mat-icon>add</mat-icon></div>
      <img class="participant-image" src="https://images.unsplash.com/photo-1560885314-bb6047995854?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
      <div><h4>Usuario 5</h4></div>
    </div>
  </div>
  <div class="centered">
    <div class="inline-block">
      <div class="to-the-left">
        <h3>Actualmente hablando:</h3>
        <h2>Tú</h2>
        <p>3:00</p>
        <button>Terminar turno</button>
      </div>
      <div class="mt-50"><h3 class="moderator-title">Moderador</h3></div>
      <img class="moderator-image" src="https://images.unsplash.com/photo-1552318415-cc99d956c134?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=376&q=80">
    </div>
  </div>
</div>
