<h1 mat-dialog-title style="text-align: center">{{this.strings.CustomCreate[0].Title}}</h1>
<form [formGroup]="NewCustom">
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Topic}}</mat-label>
    <mat-select formControlName="Topic" required>
      <mat-option *ngFor="let topic of types" [value]="topic.value">
        {{topic.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="onChangeTopic()">{{this.strings.CustomCreate[0].Change}}</button>
  <div *ngIf="topicSelected === 'fijo'">
    <mat-form-field>
      <mat-label>{{this.strings.CustomCreate[0].ChooseTopic}}</mat-label>
      <mat-select formControlName="Topics">
        <mat-option *ngFor="let topics of topics" [value]="topics.value">
          {{topics.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="noTopic">
    <h2>{{this.strings.CustomCreate[0].Error1}}</h2>
  </div>
  <div *ngIf="topicSelected === 'libre'">
    <mat-form-field>
      <label>
        <input matInput placeholder="{{this.strings.CustomCreate[0].FreeTopic}}" formControlName="FreeTopic">
      </label>
    </mat-form-field>
  </div>
  <div *ngIf="noFreeTopic">
    <h2>{{this.strings.CustomCreate[0].Error2}}</h2>
  </div>
  <br>
  <mat-form-field>
  <mat-label>{{this.strings.CustomCreate[0].ChatType}}</mat-label>
  <mat-select formControlName="ChatType" required>
    <mat-option *ngFor="let type of chatTypes" [value]="type.value">
      {{type.viewValue}}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Moderator}}</mat-label>
    <mat-select formControlName="Moderator" required>
      <mat-option *ngFor="let moderator of moderator" [value]="moderator.value">
        {{moderator.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="onChangeType()">{{this.strings.CustomCreate[0].Change}}</button>
  <br>
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Participants}}</mat-label>
    <mat-select formControlName="Participants" required>
      <mat-option *ngFor="let participant of participants" [value]="participant.value">
        {{participant.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="errorParticipants">
    <h2>{{this.strings.CustomCreate[0].Error3}}</h2>
  </div>
  <br>
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Language}}</mat-label>
    <mat-select formControlName="Language" required>
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{language.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Level}}</mat-label>
    <mat-select formControlName="Level" required>
      <mat-option *ngFor="let level of levels" [value]="level.value">
        {{level.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Rules}}</mat-label>
    <mat-select [(value)]="wantRules" formControlName="HasRules">
      <mat-option *ngFor="let choos of chooseRules" [value]="choos.value">
        {{choos.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="wantRules">
    <p>No rules</p>
<!--    <form [formGroup]="RulesGroup">-->
<!--      <ng-container formArrayName="rules">-->
<!--        <div *ngFor="let rule of rules; let i = index">-->
<!--          <mat-checkbox [formControlName]="i">-->
<!--            {{rule.viewValue}}-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </form>-->
<!--    <mat-form-field>-->
<!--      <mat-selection-list formControlName="Rules">-->
<!--        <mat-list-option *ngFor="let rule of rules" [value]="rule.value">-->
<!--          {{rule.viewValue}}-->
<!--        </mat-list-option>-->
<!--      </mat-selection-list>-->
<!--    </mat-form-field>-->
  </div>
  <br>
  <mat-form-field>
    <mat-label>Join</mat-label>
    <mat-select formControlName="Join" required>
      <mat-option *ngFor="let jo of join" [value]="jo.value">
        {{jo.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <label>
      <input matInput placeholder="{{this.strings.CustomCreate[0].Description}}" formControlName="Description">
    </label>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>{{this.strings.CustomCreate[0].Privacy}}</mat-label>
    <mat-select formControlName="Privacy" required>
      <mat-option *ngFor="let privacy of privacy" [value]="privacy.value">
        {{privacy.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="onChangePrivacy()">{{this.strings.CustomCreate[0].Change}}</button>
  <div *ngIf="privacySelected === 'Privada'">
    <mat-form-field>
      <label>
        <input matInput placeholder="{{this.strings.CustomCreate[0].PasswordInput}}" [type]="hide ? 'password' : 'text'" formControlName="Password" [(ngModel)]="password">
      </label>
      <mat-icon matSuffix (click)="hide = !hide">
        {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error>{{this.strings.CustomCreate[0].PasswordLength}}</mat-error>
    </mat-form-field>
  </div>
  <br>
  <button type="submit" id="register-button" [disabled]="!NewCustom.valid" (click)="onSubmit()">{{this.strings.CustomCreate[0].CreateButton}}</button>
</form>

