<div class="content" style="padding-top: 55px">
    <div class="container">
      <button mat-stroked-button (click)="onAudio()">{{this.strings.Configuration[0].Configuration}}</button>
      <button mat-stroked-button (click)="onInfo()">{{this.strings.Configuration[0].Update}}</button>
      <button mat-stroked-button (click)="onPass()">{{this.strings.Configuration[0].Password}}</button>
    </div>
    <app-audio *ngIf="bAudio; else random"></app-audio>
    <ng-template #random>
      <app-update-info *ngIf="bInfo; else custom"></app-update-info>
    </ng-template>
    <ng-template #custom>
      <app-update-pass *ngIf="bPass"></app-update-pass>
    </ng-template>
</div>
