<div class="background">
  <mat-card>
  <div class="container">
    <form [formGroup]="Search" (ngSubmit)="onSubmit()">

      <mat-form-field class="field">
        <mat-label>{{this.strings.Custom[0].Topic}}</mat-label>
        <mat-select formControlName="Topics" [(ngModel)]="initial1" required>
          <mat-option *ngFor="let tema of Temas" [value]="tema.value">
            {{tema.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{this.strings.Custom[0].Language}}</mat-label>
        <mat-select formControlName="Languages" [(ngModel)]="initial2" required>
          <mat-option *ngFor="let idioma of languages" [value]="idioma.value">
            {{idioma.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{this.strings.Custom[0].Level}}</mat-label>
        <mat-select formControlName="Level" [(ngModel)]="initial3" required>
          <mat-option *ngFor="let nivel of Niveles" [value]="nivel.value">
            {{nivel.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{this.strings.Custom[0].Chat}}</mat-label>
        <mat-select formControlName="Chats" [(ngModel)]="initial4" required>
          <mat-option *ngFor="let chat of Chats" [value]="chat.value">
            {{chat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button type="submit" style="padding-left: 18px;" [disabled]="!Search.valid">{{this.strings.Custom[0].Filter}}</button>
    </form>
  </div>

  <div class="table">
    <table mat-table [dataSource]="sent" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let hamana"> {{hamana.no_salap}} </td>
      </ng-container>

      <ng-container matColumnDef="privacy">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Privacy}}</th>
        <td mat-cell *matCellDef="let hamana"><mat-icon>{{hamana.privacy}}</mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="chat">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Chat}}</th>
        <td mat-cell *matCellDef="let hamana"> {{hamana.tipo_conv}} </td>
      </ng-container>

      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Topic}}</th>
        <td mat-cell *matCellDef="let hamana"> {{hamana.tema}} </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Topic}}</th>
        <td mat-cell *matCellDef="let hamana"> {{hamana.lengua}} </td>
      </ng-container>

      <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Participants}}</th>
        <td mat-cell *matCellDef="let hamana"> {{hamana.participantes_cant}} </td>
      </ng-container>

      <ng-container matColumnDef="moderator">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Moderator}}</th>
        <td mat-cell *matCellDef="let i = index">
          <mat-checkbox
            [(ngModel)]="moderator[i]"
            [disabled]="true">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Level}}</th>
        <td mat-cell *matCellDef="let hamana"> {{hamana.nivel}} </td>
      </ng-container>

      <ng-container matColumnDef="kicking">
        <th mat-header-cell *matHeaderCellDef>{{this.strings.Custom[0].Change}}</th>
        <td mat-cell *matCellDef="let i = index">
          <mat-checkbox
            [(ngModel)]="changeSubject[i]"
            [disabled]="true">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let i = index">
          <button (click)="onClick(i)">{{this.strings.Custom[0].Join}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <br>
  <div>
    <button (click)="onCreate()">{{this.strings.Custom[0].Create}}</button>
  </div>

  </mat-card>
</div>
