.background{
  background-image: url(https://cdn.discordapp.com/attachments/304829873468342283/569228716933382157/Blue-Blur-Background.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  position: fixed;
}

.content{
  text-align: center;
  padding-top: 25px;
}

mat-card{
  width: 400px;
  margin: 1% auto;
}

mat-form-field{
  width: 50%;
}

mat-slider{
  width: 50%;
}

.mat-h3{
  padding-top: 4%;
}

.smaller {
  font-size: smaller;
  text-align: end;
}

#Conectado {
  color: green;
}

#Ocupado {
  color: red;
}

#Ausente {
  color: darkorange;
}

#Desconectado {
  color: darkgrey;
}
