body{
  text-align: center;
}

mat-card{
  width: 500px;
  height: auto;
  margin: 10% auto;
  text-align: center;
}

label{
  font-weight: bold;
}

mat-radio-group{
  font-weight: normal;
}

h1 {
  font-weight: bold;
}

button{
  font-size: 15px;
  border-radius: 10px 10px 10px 10px;
}

.background{
  background-image: url(https://cdn.discordapp.com/attachments/304829873468342283/569228716933382157/Blue-Blur-Background.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  position: fixed;
}

