textarea{
  resize: none;
  width: 100%;
  height: 150px;
}

mat-icon{
  color: gray;
}

button{
  background: #ffffff;
  width: 350px;
  height: 50px;
  //margin: 20px 75px;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

mat-select{
  width: 205px;

}
