<body>
<div class="background">
  <div class="container">
    <br><br><br><br>
    <div class="text-c">
      <img width="500" alt="Talkit" src="https://cdn.discordapp.com/attachments/304829873468342283/567816572467544089/Talkit_Azul_Todo.png">
    </div>
    <br><br>
    <div class="text-c">
      <h2>¿Qué es talkit?</h2>
      <p>Talkit es una plataforma de grupos de conversación disponible para distintos lenguajes, donde los usuarios pueden buscar, crear o unirse salas con otros usuarios en el lenguaje deseado, ya sea de manera oral o escrita.</p>
      <br>
      <h2>¿Nuestra misión?</h2>
      <p>Crear una comunidad de usuarios con el mismo amor que nosotros tenemos hacia los diferentes lenguajes que existen alrededor del mundo, la cual aporte sus conocimientos para hacer crecer la plataforma y poder habilitarla en una gama de lenguajes más amplia. </p>
    </div>
  </div>
</div>
</body>
