<div class="background">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="Poster-photo"></div>
      <mat-card-title>Stark</mat-card-title>
      <mat-card-subtitle>Equipo de desarrollo</mat-card-subtitle>
    </mat-card-header>
    <br>
    <div class="center">
      <img mat-card-image src="https://cdn.discordapp.com/attachments/304829873468342283/567816572467544089/Talkit_Azul_Todo.png" alt="Post-photo">
    </div>
    <mat-card-content>
      <h3>Lanzamiento de Talkit!</h3>
      <p>
        Talkit! por fin abierto para todo publico en los idiomas: español, inglés, francés, ruso, alemán
        italiano, portugués, chino, japonés y coreano. ¡Ingresa a salas aleatorias para conseguir puntos
        y poder abrir tus propias salas privadas con las características de tu preferencia!
      </p>
      <p>
        Recuerda que entre más participes ayudando a crecer esta comunidad, más cerca estarás de ser un
        usuario destacado. ¡Suerte!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="center">
      <button mat-button (click)="openSnackBar()">YAY!</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
