<div class="background">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="Poster-photo"></div>
      <mat-card-title>Stark</mat-card-title>
      <mat-card-subtitle>{{this.strings.News[0].Job}}</mat-card-subtitle>
    </mat-card-header>
    <br>
    <div class="center">
      <img mat-card-image src="https://cdn.discordapp.com/attachments/304829873468342283/567816572467544089/Talkit_Azul_Todo.png" alt="Post-photo">
    </div>
    <mat-card-content>
      <h3>{{this.strings.News[0].Title}}</h3>
      <p>
        {{this.strings.News[0].Content1}}
      </p>
      <p>
        {{this.strings.News[0].Content2}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="center">
      <button mat-button (click)="openSnackBar()">{{this.strings.News[0].Button}}</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
