.container{
  display: flex;
  justify-content: space-around;
  width: auto;
  left: 0;
  right: 0;
}

.nav{
  min-width: 15%;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 50;
  padding-top: 50px;
}

button{
  width: 30%;
}

.content{
  position: fixed;
  left: 0;
  right: 0;
 }
